*{
    font-family: sans-serif;
}

body{
    background-color: rgba(127, 255, 212, 0.468);
}

.conteiner{
    position: relative;
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 2%;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    border-radius: 20px;
}

#profilo{
    display: grid;
    place-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 4%;
}

#testa{
    background-color: rgb(128, 128, 128);
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

#corpo{
    background-color: rgb(114, 114, 114);
    height: 30px;
    width: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.input{
    background-color: transparent;
    display: block;
    font-size: 25px;
}

#username{
    color: darkred;
}

#password{
    color: green;
}